specification:before {
    content: 'Specification';
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

specification {
    margin: 10px;
}

requirement {
    margin-bottom: 40px;
    display: block;
}

design {
    display: block;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #08c952;
}

design:only-child {
    color: #c71a0e;
}

implementation {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

group:before {
    content: attr(name);
    display: block;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

group {
    content: 'Hello!!';
    display: block;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: thin;
}

group requirement {
    margin-left: 20px;
}

group group {
    margin-left: 20px;
}